Repository garlicwilliam/fufuture: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "*.less": ["stylelint --fix", "prettier --write"]
}

update
  src/components/shield-option-common/head/menu/option-menu-list.tsx
Due: eslint --fix, prettier --write

update
  README.md
Due: none

update
  src/constant/walletconnect.ts
  src/locale/ko.ts
Due: eslint --fix, prettier --write

update
  src/wallet/http-provider.ts
Due: eslint --fix, prettier --write

update
  src/assets/imgs/logo/fufuture-1-dark.svg
  src/assets/imgs/logo/fufuture-1-light.svg
  src/assets/imgs/logo/fufuture-1.svg
  src/components/shield-option-common/head/logo/shield-logo.tsx
  src/components/shield-option-trade/pages/share/image.tsx
  src/components/shield-option-trade/pages/share/poster.tsx
Due: eslint --fix, prettier --write

update
  public/favicon.svg
Due: none

update
  src/components/shield-option-trade/pages/referral/become-spark/become-spark.tsx
Due: eslint --fix, prettier --write

fix history orders list
  src/components/shield-option-trade/pages/trade/orders/active/history-table.tsx
  src/state-manager/database/database-state-mergers/option/merger-history-orders.ts
  src/state-manager/state-types.ts
Due: eslint --fix, prettier --write

fix bug: public pool list display
  src/components/shield-option-trade/const/default.ts
  src/state-manager/database/database-state-mergers/option/merger-maker-share.ts
Due: eslint --fix, prettier --write

update config
  README.md
  src/components/shield-option-trade/const/env.ts
Due: eslint --fix, prettier --write

optimize local and orders pending status
  src/components/common/content/token-amount-inline.tsx
  src/components/connect-wallet/btn-address.module.less
  src/components/modal-render/index.tsx
  src/components/shield-option-trade/const/env.ts
  src/components/shield-option-trade/pages/pools/private/locked-liquidity/add-margin.tsx
  src/components/shield-option-trade/pages/share/poster.tsx
  src/components/shield-option-trade/pages/share/share-popup.module.less
  src/components/shield-option-trade/pages/share/share-popup.tsx
  src/components/shield-option-trade/pages/share/share.module.less
  src/components/shield-option-trade/pages/share/share.tsx
  src/components/shield-option-trade/pages/trade/market-prices/charts/kline.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/day-info.tsx
  src/components/shield-option-trade/pages/trade/market-select/market-extend/pools-table.tsx
  src/components/shield-option-trade/pages/trade/open/popup/open-confirm.tsx
  src/components/shield-option-trade/pages/trade/orders/active/active-table.module.less
  src/components/shield-option-trade/pages/trade/orders/active/active-table.tsx
  src/components/shield-option-trade/pages/trade/orders/active/close-confirm.tsx
  src/components/shield-option-trade/pages/trade/orders/active/history-table.module.less
  src/components/shield-option-trade/pages/trade/orders/active/history-table.tsx
  src/components/shield-option-trade/services/shield-pool-liquidity.service.ts
  src/locale/en.ts
  src/locale/zh.ts
  src/locale/zhHK.ts
  src/util/math.ts
Due: eslint --fix, prettier --write, stylelint --fix

update
  src/components/shield-option-trade/pages/trade/market-select/market-extend/pools-table.tsx
Due: eslint --fix, prettier --write

add package-lock
  .gitignore
  package-lock.json
Due: none

fix display bugs add share on mobile add percentage input of open amount
  src/assets/imgs/stone/arrow-down.svg
  src/assets/imgs/stone/arrow-down2.svg
  src/assets/imgs/stone/bg-crow.svg
  src/assets/imgs/stone/bg-glass.svg
  src/assets/imgs/stone/bg.svg
  src/assets/imgs/stone/bg1.svg
  src/assets/imgs/stone/bg2.svg
  src/assets/imgs/stone/bg3.svg
  src/assets/imgs/stone/bg4.svg
  src/assets/imgs/stone/blind-box.svg
  src/assets/imgs/stone/cup.svg
  src/assets/imgs/stone/cup1.svg
  src/assets/imgs/stone/cup2.svg
  src/assets/imgs/stone/lottery-bg.svg
  src/assets/imgs/stone/stake-empty.svg
  src/assets/imgs/stone/stone-logo.svg
  src/assets/imgs/stone/stone1.svg
  src/assets/imgs/stone/stone2.svg
  src/assets/imgs/stone/stone3.svg
  src/assets/imgs/stone/stone4.svg
  src/assets/imgs/tokens/sseth.svg
  src/assets/imgs/tokens/sseth1.svg
  src/assets/imgs/tokens/stone.svg
  src/components/common/content/empty.tsx
  src/components/common/input/num-input-decimal.tsx
  src/components/shield-option-trade/pages/common/percent-slider.module.less
  src/components/shield-option-trade/pages/common/percent-slider.tsx
  src/components/shield-option-trade/pages/common/search-token.tsx
  src/components/shield-option-trade/pages/pools/private/your-liquidity/your-liquidity.tsx
  src/components/shield-option-trade/pages/pools/public/pool-share/pool-share.tsx
  src/components/shield-option-trade/pages/referral/referral/my-referral.tsx
  src/components/shield-option-trade/pages/trade/market-prices/charts/kline.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/day-info.tsx
  src/components/shield-option-trade/pages/trade/open/open-amount.module.less
  src/components/shield-option-trade/pages/trade/open/open-amount.tsx
  src/components/shield-option-trade/pages/trade/orders/active/history-table.tsx
  src/components/shield-option-trade/services/shield-pool-liquidity.service.ts
  src/locale/zhHK.ts
  src/util/decimal.ts
Due: eslint --fix, prettier --write, stylelint --fix

add arbitrum chain env
  src/components/shield-option-trade/const/env.ts
  src/components/shield-option-trade/pages/referral/referral-detail/my-ref-detail.module.less
  src/components/shield-option-trade/pages/referral/referral-detail/my-ref-detail.tsx
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-statictis.module.less
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-statistic.tsx
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-table.module.less
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-table.tsx
  src/components/shield-option-trade/pages/referral/referral.tsx
  src/components/shield-option-trade/routers/routers.tsx
  src/constant/routes.ts
  src/locale/en.ts
  src/state-manager/database/database-state-def.ts
  src/state-manager/database/database-state-mergers/option/merger-24volume.ts
  src/state-manager/database/database-state-mergers/option/merger-closed-orders.ts
  src/state-manager/database/database-state-mergers/option/merger-referral-items.ts
  src/state-manager/page/page-state-def.ts
  src/state-manager/state-types.ts
  src/util/string.ts
Due: eslint --fix, prettier --write, stylelint --fix

update
  src/components/common/svg/detail.svg
  src/components/common/svg/detail.tsx
  src/components/shield-option-trade/pages/referral/referral-detail/my-ref-detail.tsx
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-statictis.module.less
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-statistic.tsx
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-table.module.less
  src/components/shield-option-trade/pages/referral/referral-detail/referrals-table.tsx
  src/components/shield-option-trade/pages/referral/referral.tsx
  src/components/shield-option-trade/pages/referral/referral/my-referral.module.less
  src/components/shield-option-trade/pages/referral/referral/my-referral.tsx
  src/constant/chain-rpc.ts
  src/locale/en.ts
  src/locale/sort.ts
  src/locale/zh.ts
  src/locale/zhHK.ts
  src/state-manager/database/database-state-mergers/option/merger-referral-items.ts
  src/state-manager/state-types.ts
Due: eslint --fix, prettier --write, stylelint --fix

update
  src/assets/imgs/vaults/secure3.svg
  src/assets/imgs/vaults/secure3_1.svg
  src/components/common/overlay/result-mask.module.less
  src/components/common/overlay/result-mask.tsx
  src/components/shield-option-trade/layout.tsx
  src/components/shield-option-trade/pages/trade/market-prices/charts/charts.tsx
  src/components/shield-option-trade/pages/trade/market-prices/market-prices.module.less
  src/components/shield-option-trade/pages/trade/market-prices/market-prices.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/param.module.less
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/day-info.module.less
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/day-info.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/duration-select.module.less
  src/locale/en.ts
  src/locale/zh.ts
  src/locale/zhHK.ts
  src/services/mask/mask.service.tsx
  src/services/utils.ts
  src/services/utils.tsx
  src/state-manager/database/database-state-def.ts
  src/state-manager/database/database-state-mergers/option/merger-open-interest.ts
  src/state-manager/database/database-state-mergers/option/merger-token-prices.ts
  src/state-manager/state-types.ts
Due: eslint --fix, prettier --write, stylelint --fix

update
  src/components/shield-option-trade/const/env.ts
  src/components/shield-option-trade/pages/trade/market-prices/charts/charts.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/day-info.tsx
  src/components/shield-option-trade/pages/trade/orders/active/history-table.tsx
  src/locale/en.ts
  src/state-manager/database/database-state-def.ts
  src/state-manager/database/database-state-mergers/option/merger-token-prices.ts
  src/state-manager/database/database-state-mergers/option/merger-underlying-price.ts
  src/state-manager/state-types.ts
  src/wallet/abi.ts
Due: eslint --fix, prettier --write

update
  src/locale/zh.ts
  src/locale/zhHK.ts
Due: eslint --fix, prettier --write

update
  src/components/shield-option-trade/pages/trade/market-prices/charts/charts.tsx
  src/state-manager/database/database-state-mergers/option/merger-token-prices.ts
  src/state-manager/database/database-state-mergers/option/merger-underlying-price.ts
  src/state-manager/state-types.ts
Due: eslint --fix, prettier --write

fix referral code bug
  src/components/shield-option-trade/const/shield-option-abi.ts
  src/components/shield-option-trade/pages/pools/private/locked-liquidity/locked-liquidity.tsx
  src/components/shield-option-trade/pages/trade/market-prices/charts/charts.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/day-info.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/token-index-price.tsx
  src/components/shield-option-trade/pages/trade/market-select/market-summary/index-funding-info.tsx
  src/components/shield-option-trade/pages/trade/open/open.tsx
  src/components/shield-option-trade/pages/trade/open/popup/open-confirm.tsx
  src/components/shield-option-trade/pages/trade/orders/active/active-table.tsx
  src/components/shield-option-trade/pages/trade/orders/active/close-confirm.tsx
  src/services/utils.tsx
  src/state-manager/contract/contract-getter-cpx-shield.ts
  src/state-manager/contract/contract-getter-sim-link.ts
  src/state-manager/contract/contract-state-def.ts
  src/state-manager/database/database-state-mergers/option/merger-open-interest.ts
  src/state-manager/database/database-state-mergers/option/merger-token-prices.ts
  src/state-manager/database/database-state-mergers/option/merger-underlying-price.ts
  src/state-manager/state-types.ts
  src/util/string.ts
Due: eslint --fix, prettier --write

update lang switch
  src/assets/imgs/header/lang.svg
  src/assets/imgs/wallet/gatewallet.svg
  src/components/common/menu/menu-list.tsx
  src/components/connect-wallet/btn-metamask.tsx
  src/components/connect-wallet/connect-wallet-page.tsx
  src/components/connect-wallet/wallet-icons.tsx
  src/components/shield-option-common/head/lang/lang-switch.module.less
  src/components/shield-option-common/head/lang/lang-switch.tsx
  src/components/shield-option-common/head/menu/option-menu-list.module.less
  src/components/shield-option-trade/pages/head/head.module.less
  src/components/shield-option-trade/pages/head/head.tsx
  src/components/shield-option-trade/pages/head/mobile-foot.module.less
  src/components/shield-option-trade/pages/head/mobile-foot.tsx
  src/components/shield-option-trade/services/shield-pool-liquidity.service.ts
  src/constant/index.tsx
  src/state-manager/contract/contract-getter-cpx-shield.ts
  src/state-manager/contract/contract-getter-cpx-uniswap.ts
  src/state-manager/contract/contract-getter-sim-link.ts
  src/state-manager/contract/contract-state-def.ts
  src/state-manager/database/database-state-mergers/option/merger-referral-items.ts
  src/util-bussiness/uniswap.ts
  src/util/decimal.ts
  src/util/math.ts
  src/wallet/contract-caller.ts
  src/wallet/metamask-like-constant.ts
  src/wallet/metamask-like-manager.ts
  src/wallet/metamask-like.ts
Due: eslint --fix, prettier --write, stylelint --fix

update
  src/components/common/overlay/overlay.tsx
  src/components/common/utils/resize.tsx
Due: eslint --fix, prettier --write

update
  src/components/shield-option-common/head/lang/lang-switch.tsx
Due: eslint --fix, prettier --write

update
  src/components/common/utils/resize.tsx
Due: eslint --fix, prettier --write

add migrate page
  src/components/common/utils/resize.tsx
  src/components/shield-option-common/css/ant.less
  src/components/shield-option-trade/pages/common/token-check-box.module.less
  src/components/shield-option-trade/pages/common/token-check-box.tsx
  src/components/shield-option-trade/pages/migrate/migrate-orders.module.less
  src/components/shield-option-trade/pages/migrate/migrate-orders.tsx
  src/components/shield-option-trade/pages/pools/private/locked-liquidity/add-margin.tsx
  src/components/shield-option-trade/pages/pools/private/locked-liquidity/locked-liquidity.tsx
  src/components/shield-option-trade/pages/trade/balance/funding-data.tsx
  src/components/shield-option-trade/pages/trade/orders/active/active-table.tsx
  src/components/shield-option-trade/routers/routers.tsx
  src/components/shield-option-trade/services/shield-order.service.ts
  src/components/table/table-common.module.less
  src/locale/en.ts
  src/locale/zh.ts
  src/locale/zhHK.ts
  src/state-manager/contract/contract-getter-cpx-shield.ts
  src/state-manager/contract/contract-getter-sim-erc20.ts
  src/state-manager/database/database-state-def.ts
  src/state-manager/database/database-state-mergers/option/merger-24volume.ts
  src/state-manager/database/database-state-mergers/option/merger-active-orders.ts
  src/state-manager/database/database-state-mergers/option/merger-closed-orders.ts
  src/state-manager/page/page-state-def.ts
  src/state-manager/state-types.ts
Due: eslint --fix, prettier --write, stylelint --fix

change fix digits; add auto refresh of volume
  src/components/shield-option-trade/const/env.ts
  src/components/shield-option-trade/pages/common/index-underlying-icon.tsx
  src/components/shield-option-trade/pages/pools/private/locked-liquidity/locked-liquidity.tsx
  src/components/shield-option-trade/pages/pools/private/your-liquidity/your-liquidity.tsx
  src/components/shield-option-trade/pages/trade/market-prices/param/parts/day-info.tsx
  src/components/shield-option-trade/pages/trade/open/open-amount.tsx
  src/state-manager/contract/contract-getter-cpx-shield.ts
  src/state-manager/contract/contract-getter-sim-erc20.ts
  src/wallet/metamask-like.ts
Due: eslint --fix, prettier --write

update
  src/state-manager/contract/contract-getter-cpx-shield.ts
Due: eslint --fix, prettier --write

update
  src/components/shield-option-trade/pages/trade/orders/active/active-table.tsx
  src/components/shield-option-trade/pages/trade/orders/active/history-table.tsx
  src/state-manager/contract/contract-getter-cpx-shield.ts
  src/state-manager/database/database-state-mergers/option/merger-active-orders.ts
Due: eslint --fix, prettier --write

fix pool order display
  src/components/common/buttons/select-btn.module.less
  src/components/header-wallet/sub-components/network-selection.module.less
  src/components/header-wallet/sub-components/network-selection.tsx
  src/components/header-wallet/sub-components/wallet-address.tsx
  src/constant/walletconnect.conf.ts
  src/locale/en.ts
  src/locale/zh.ts
  src/locale/zhHK.ts
  src/state-manager/database/database-state-mergers/option/merger-maker-liquidity.ts
  src/state-manager/database/database-state-mergers/option/merger-maker-locked-detail.ts
  src/state-manager/page/page-state-def.ts
  src/state-manager/page/page-state-parser.ts
  src/state-manager/state-types.ts
  src/state-manager/wallet/wallet-agree.ts
  src/util/app.ts
  src/util/http.ts
  src/wallet/data-signer.ts
Due: eslint --fix, prettier --write, stylelint --fix

update
  src/components/shield-option-trade/const/env.ts
Due: eslint --fix, prettier --write

fix deciaml bugs
  src/components/common/input/string-input.tsx
  src/components/shield-option-trade/pages/trade/balance/funding-data.tsx
  src/components/shield-option-trade/pages/trade/open/open.tsx
  src/components/shield-option-trade/pages/trade/open/popup/calc.tsx
  src/components/shield-option-trade/pages/trade/open/popup/open-confirm.tsx
  src/components/shield-option-trade/pages/trade/orders/active/active-table.tsx
  src/components/shield-option-trade/pages/trade/orders/active/close-confirm.tsx
  src/components/shield-option-trade/pages/trade/orders/active/funding-schedule.tsx
  src/components/shield-option-trade/pages/trade/orders/active/history-table.tsx
  src/util/http.ts
  src/util/math.ts
Due: eslint --fix, prettier --write

update
  src/util/math.ts
Due: eslint --fix, prettier --write

update
  src/components/connect-wallet/connect-wallet-page.tsx
Due: eslint --fix, prettier --write

update
  package-lock.json
  package.json
Due: none
